<template name="shopDetail">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="prefset">
      {{> ionIcon icon='ios-plus-empty'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">商铺细节_{{#with shopdetail}}{{name}}{{/with}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    {{#ionList}}
        {{#with shopdetail}}
          <p>
          {{#each fileIds }}
            {{#each getshoppic this }}
              <a href="{{this.url}}" target="_blank"><img src="{{this.url store='thumbs' uploading='/images/uploading.gif' storing='/images/storing.gif'}}" alt=""  class="shoppicdetail_test" /></a>
            {{/each}}
          {{/each}}
          </p>
          <p>{{about}}</p>
          <p>地址:{{address}}</p><p>邮箱:{{mail}}</p><p>电话:{{phone}} 传真:{{type}}</p>
        {{/with}}
      {{/ionList}}
    <!-- {{/ionContent}}
  {{/ionView}}
  {{#ionView}}
    {{#ionContent}} -->
      {{#ionList}}
        {{#each preferences}}
         <a class="item" href="/preference/{{_id}}">
          {{#with preferencepic1st _id }}
            {{#each getpreferencepic this }}
              <a href="{{this.url}}" target="_blank"><img src="{{this.url store='thumbs' uploading='/images/uploading.gif' storing='/images/storing.gif'}}" alt=""  class="preferencepiclist_test" align="left" /></a>
            {{/each}}
          {{/with}}
          <h2>{{name}}</h2>
          <p>{{about}}</p>
         </a>
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
