<template name="shopset">
    {{#ionModal title="新建店铺"}}
        <div class="padding">
            <div class="list">
                <form>
                  <label class="item item-input">
                      <textarea name="name" rows="1" placeholder="店铺名称"></textarea>
                      <textarea name="address" rows="1" placeholder="地址"></textarea>
                    </label>
                    <label class="item item-input">
                      <textarea name="phone" rows="1" placeholder="电话"></textarea>
                      <textarea name="mail" rows="1" placeholder="传真"></textarea>
                      <textarea name="type" rows="1" placeholder="类型"></textarea>
                      </label>
                      <label class="item item-input">
                        <textarea name="about" rows="5" placeholder="店铺描述"></textarea>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">图片</span>
                        <div  class="button-bar">
								          <span title="拍照" class="fileinput-button">
									            <a title="拍照" class="button icon ion-android-camera">+</a>
								          </span>
                          <span title="选择图片" class="fileinput-button">
									            <i title="选择图片" class="button icon ion-android-image">+</i>
								          </span>
                          <span><input id="fileNewupload" style="display:none;" type="file" size="1" multiple class="fileNewupload"></span>
                        </div>
                    </label>
                    <label class="item item-input">
                        <div id="previewImageList">

                        </div>
                    </label>
                    <div class="padding">
                        <button type="submit" class="btn button button-positive button-block submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    {{/ionModal}}
</template>
