// Ionic Mixins
// @import "_mixins.import.scss";

// Add Custom Mixins Here:
.shoppiclist_test {
  width:40px;
  height:40px;
};

.shoppicdetail_test {
  width:120px;
  height:120px;
};

.preferencepiclist_test {
  width:40px;
  height:40px;
};
